<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.oracle.hj20221201.MainMapper">

	<select id="mainNoteList"  parameterType="Notice"  resultType="Notice">
		SELECT *
			<!-- NOT_NUM=#{notNum}, 
			ID=#{id}, 
			TITLE=#{title},
			NOT_CANUM=#{notCaNum},
			NOT_DATE=#{notDate},
			NOT_VIEW=#{notView},
			NOT_HIT=#{notHit} -->
		FROM NOTICE
	</select>






</mapper>